@model Fault_handling_system.Models.Report

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EtrNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EtrNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NokiaCaseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NokiaCaseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RfaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RfaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RfaName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RfaName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TroubleType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TroubleType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateIssued)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EtrToDes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EtrToDes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EtrDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EtrDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EtrStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EtrStatus.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EtrType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EtrType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NsnCoordinator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NsnCoordinator.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Requestor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Requestor.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcontractor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcontractor.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zone.ZoneName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
