@model Fault_handling_system.Models.Report

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Report</h4>
<hr />
@if (User.IsInRole("Admin") || User.IsInRole("Nokia Coordinator"))
{
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="EtrNumber" class="control-label"></label>
					<input asp-for="EtrNumber" class="form-control" type="text" />
					<span asp-validation-for="EtrNumber" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="NokiaCaseId" class="control-label"></label>
					<input asp-for="NokiaCaseId" class="form-control" type="number" />
					<span asp-validation-for="NokiaCaseId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="RfaId" class="control-label"></label>
					<input asp-for="RfaId" class="form-control" type="number" />
					<span asp-validation-for="RfaId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="RfaName" class="control-label"></label>
					<input asp-for="RfaName" class="form-control" type="text" />
					<span asp-validation-for="RfaName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ZoneId" class="control-label"></label>
					<select asp-for="ZoneId" class="form-control" asp-items="ViewBag.ZoneId"></select>
					<span asp-validation-for="ZoneId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="AssignedTo" class="control-label"></label>
					<input asp-for="AssignedTo" class="form-control" />
					<span asp-validation-for="AssignedTo" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Priority" class="control-label"></label>
					<input asp-for="Priority" class="form-control" />
					<span asp-validation-for="Priority" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EtrTypeId" class="control-label"></label>
					<select asp-for="EtrTypeId" class="form-control" asp-items="ViewBag.EtrTypeId"></select>
					<span asp-validation-for="EtrTypeId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EtrStatusId" class="control-label"></label>
					<select asp-for="EtrStatusId" class="form-control" asp-items="ViewBag.EtrStatusId"></select>
					<span asp-validation-for="EtrStatusId" class="text-danger"></span>
				</div>
				<!--Dropdowns for users allow null values-->
				<div class="form-group">
					<label asp-for="RequestorId" class="control-label"></label>
					<select asp-for="RequestorId" class="form-control" asp-items="ViewBag.RequestorId"><option value=""></option></select>
					<span asp-validation-for="RequestorId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="NsnCoordinatorId" class="control-label"></label>
					<select asp-for="NsnCoordinatorId" class="form-control" asp-items="ViewBag.NsnCoordinatorId"><option value=""></option></select>
					<span asp-validation-for="NsnCoordinatorId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="SubcontractorId" class="control-label"></label>
					<select asp-for="SubcontractorId" class="form-control" asp-items="ViewBag.SubcontractorId"><option value=""></option></select>
					<span asp-validation-for="SubcontractorId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Grade" class="control-label"></label>
					<input asp-for="Grade" class="form-control" type="number" />
					<span asp-validation-for="Grade" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="TroubleType" class="control-label"></label>
					<input asp-for="TroubleType" class="form-control" type="text" />
					<span asp-validation-for="TroubleType" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DateIssued" class="control-label"></label>
					<input asp-for="DateIssued" class="form-control" type="date" />
					<span asp-validation-for="DateIssued" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DateSent" class="control-label"></label>
					<input asp-for="DateSent" class="form-control" type="date" />
					<span asp-validation-for="DateSent" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EtrToDes" class="control-label"></label>
					<input asp-for="EtrToDes" class="form-control" type="date" />
					<span asp-validation-for="EtrToDes" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ClosingDate" class="control-label"></label>
					<input asp-for="ClosingDate" class="form-control" type="date" />
					<span asp-validation-for="ClosingDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EtrDescription" class="control-label"></label>
					<input asp-for="EtrDescription" class="form-control" type="text" />
					<span asp-validation-for="EtrDescription" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Comment" class="control-label"></label>
					<input asp-for="Comment" class="form-control" type="text" />
					<span asp-validation-for="Comment" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</form>
		</div>
	</div>
}
else
{
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="EtrNumber" class="control-label"></label>
				<input asp-for="EtrNumber" class="form-control" type="text" readonly/>
				<span asp-validation-for="EtrNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NokiaCaseId" class="control-label"></label>
				<input asp-for="NokiaCaseId" class="form-control" type="number" readonly/>
				<span asp-validation-for="NokiaCaseId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="RfaId" class="control-label"></label>
				<input asp-for="RfaId" class="form-control" type="number" readonly/>
				<span asp-validation-for="RfaId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="RfaName" class="control-label"></label>
				<input asp-for="RfaName" class="form-control" type="text" readonly/>
				<span asp-validation-for="RfaName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ZoneId" class="control-label"></label>
				<select asp-for="ZoneId" class="form-control" asp-items="ViewBag.ZoneId" disabled></select>
				@Html.HiddenFor(x => x.ZoneId)
				<span asp-validation-for="ZoneId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AssignedTo" class="control-label"></label>
				<input asp-for="AssignedTo" class="form-control" readonly/>
				<span asp-validation-for="AssignedTo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Priority" class="control-label"></label>
				<input asp-for="Priority" class="form-control" readonly/>
				<span asp-validation-for="Priority" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EtrTypeId" class="control-label"></label>
				<select asp-for="EtrTypeId" class="form-control" asp-items="ViewBag.EtrTypeId" disabled></select>
				@Html.HiddenFor(x => x.EtrTypeId)
				<span asp-validation-for="EtrTypeId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EtrStatusId" class="control-label"></label>
				<select asp-for="EtrStatusId" class="form-control" asp-items="ViewBag.EtrStatusId" disabled></select>
				@Html.HiddenFor(x => x.EtrStatusId)
				<span asp-validation-for="EtrStatusId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="RequestorId" class="control-label"></label>
				<select asp-for="RequestorId" class="form-control" asp-items="ViewBag.RequestorId" disabled></select>
				@Html.HiddenFor(x => x.RequestorId)
				<span asp-validation-for="RequestorId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NsnCoordinatorId" class="control-label"></label>
				<select asp-for="NsnCoordinatorId" class="form-control" asp-items="ViewBag.NsnCoordinatorId" disabled></select>
				@Html.HiddenFor(x => x.NsnCoordinatorId)
				<span asp-validation-for="NsnCoordinatorId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SubcontractorId" class="control-label"></label>
				<select asp-for="SubcontractorId" class="form-control" asp-items="ViewBag.SubcontractorId" disabled></select>
				@Html.HiddenFor(x => x.SubcontractorId)
				<span asp-validation-for="SubcontractorId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Grade" class="control-label"></label>
				<input asp-for="Grade" class="form-control" type="number" readonly/>
				<span asp-validation-for="Grade" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TroubleType" class="control-label"></label>
				<input asp-for="TroubleType" class="form-control" type="text" readonly/>
				<span asp-validation-for="TroubleType" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DateIssued" class="control-label"></label>
				<input asp-for="DateIssued" class="form-control" type="date" readonly/>
				<span asp-validation-for="DateIssued" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DateSent" class="control-label"></label>
				<input asp-for="DateSent" class="form-control" type="date" readonly/>
				<span asp-validation-for="DateSent" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EtrToDes" class="control-label"></label>
				<input asp-for="EtrToDes" class="form-control" type="date" readonly/>
				<span asp-validation-for="EtrToDes" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ClosingDate" class="control-label"></label>
				<input asp-for="ClosingDate" class="form-control" type="date" />
				<span asp-validation-for="ClosingDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EtrDescription" class="control-label"></label>
				<input asp-for="EtrDescription" class="form-control" type="text" readonly/>
				<span asp-validation-for="EtrDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Comment" class="control-label"></label>
				<input asp-for="Comment" class="form-control" type="text" />
				<span asp-validation-for="Comment" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>
}
<div>
	<a asp-action="Index">Back to List</a>
</div>

